<style>
table, th, td{
  border: 1px solid black; 
  border-collapse: collapse;
}
</style>
<h1>Sport Report (NBA & Football)</h1>
<h2>NBA Top Scorer</h2>
<table>
  <tr>
    <th>Player Name</th>
    <th>Club</th>
    <th>Score Count</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Real Madrid</td>
    <td>67</td>
  </tr>
</table>
<h2></h2>
<table>
  <tr>
    <th>Player Name</th>
    <th>Club</th>
    <th>Score Count</th>
  </tr>
  <tr>
    <td>Laurent Romer</td>
    <td>Boston Celtics</td>
    <td>89</td>
  </tr>
</table>
