<style>
*{
  font-family: Arial, Helvetica, sans-serif;
}
table, th, td{
  border: 1px solid black; 
  border-collapse: collapse;
}
th{
  font-weight: bold;
}
th, td{
  padding: 5px;
}
</style>
<h1>Sport Report (NBA & Football)</h1>
<h2>Football Top Scorer</h2>
<table>
  <tr>
    <th>Player Name</th>
    <th>Club</th>
    <th>Score Count</th>
  </tr>
  <tr>
    <td>%%FOOT_NAME%%</td>
    <td>%%FOOT_CLUB%%</td>
    <td>%%FOOT_COUNT%%</td>
  </tr>
</table>
<h2>NBA Top Scrorer</h2>
<table>
  <tr>
    <th>Player Name</th>
    <th>Club</th>
    <th>Points Per Game (PPG)</th>
  </tr>
  <tr>
    <td>%%NBA_NAME%%</td>
    <td>%%NBA_CLUB%%</td>
    <td>%%NBA_COUNT%%</td>
  </tr>
</table>
